#textContent{
    background-color: white;
    color: black;
    width: 20%;
    line-height: 10%;

    border: 2px solid black;
    margin: 8px 0;
    padding:12px 20px;
    box-sizing: border-box;
}
#history{
    height: 500px;
    width: 20%;
    border: 80% solid green;
}
#TextBox{
    text-align: right;
    padding: 2.5% 5%;
    height: 100%;
}